/*User Story #1
Your headers should be changed to your favorite color and set to a sans-serif font. (Notice they are not all the same tag!)

User Story #2
Your table should have bold/colored table headers, as well as a table border. Content should be centered in their respective blocks.

User Story #3
Your list should have square list bullets.

User Story #4
When the user hovers over a hyperlink the background color of the hyperlink should change and it should not be underlined.

User Story #5
Set the background color of the block quote text (second paragraph) to a dark color and the font color to a contrasting light color.

User Story #6
Make each team's image the background image for the list. Hint Check out the element > element and :first-child / :last-child selectors. Remove the image from above the team's list.

User Story #7
The checkbox list should not be bulleted.*/


h1, h2, h3, h4, h5, h6 { /* user story #1 */
	color: hotpink;
	font-family: sans-serif;
}

table {							
	border: 2px solid #333; /* user stroy #2 */
	text-align: center;	/* user stroy #2 */
}

th {
	color: skyblue; /* user stroy #2 */
	font-weight: bold; /* user stroy #2 */
}

ul {
	list-style: square; /* user story #3  */
}

a:hover {
	background-color: lightgray; /* user story #4 */
	text-decoration: none; /* user story #4 */
}

blockquote {
	background-color: dimgray; /* user story #5 */
	color: skyblue; /* user story #5 */
}

#teamRoster li > img {
	display: none;
}

#teamRoster > li:first-child {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
	background-repeat: no-repeat;
	background-size: 160px;
	padding-left: 155px;
}

#teamRoster > li:last-child {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
	background-repeat: no-repeat;
	background-size: 160px;
	padding-left: 155px;
}

#checkbox-grid {
	list-style: none; /* user story #7 */
}