/*User Story #1
Your headers should be changed to your favorite color and set to a sans-serif font. (Notice they are not all the same tag!)

User Story #2
Your table should have bold/colored table headers, as well as a table border. Content should be centered in their respective blocks.

User Story #3
Your list should have square list bullets.

User Story #4
When the user hovers over a hyperlink the background color of the hyperlink should change and it should not be underlined.

User Story #5
Set the background color of the block quote text (second paragraph) to a dark color and the font color to a contrasting light color.

User Story #6
Make each team's image the background image for the list. Hint Check out the element > element and :first-child / :last-child selectors. Remove the image from above the team's list.

User Story #7
The checkbox list should not be bulleted.*/


h1, h2, h3, h4, h5, h6 { /* user story #1 */
	color: hotpink;
	font-family: sans-serif;
}

table {							
	border: 2px solid #333; /* user stroy #2 */
	text-align: center;	/* user stroy #2 */
}

th {
	color: skyblue; /* user stroy #2 */
	font-weight: bold; /* user stroy #2 */
}

ul {
	list-style: square; /* user story #3  */
}

a:hover {
	background-color: lightgray; /* user story #4 */
	text-decoration: none; /* user story #4 */
}

blockquote {
	background-color: dimgray; /* user story #5 */
	color: skyblue; /* user story #5 */
}

#teamRoster li > img {
	display: none;
}

#teamRoster > li:first-child { /* edit: added transparent gradient to team background images to improve  roster readability */
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
	background-repeat: no-repeat;
	background-size: 160px;
/*	padding-left: 160px;*/
}

#teamRoster > li:last-child { /* edit: added transparent gradient to team background images to improve  roster readability */
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
	background-repeat: no-repeat;
	background-size: 160px;
/*	padding-left: 160px;*/
}

#checkbox-grid {
	list-style: none; /* user story #7 */
}

/*Stretch Goals*/

#teamRoster  ol > li:first-child {
	font-weight: bold; /* stretch goal #1 */
}

#scoreBoard thead tr:nth-child(odd) {
	background-color: lightgray; /* stretch goal #2 */
}
#scoreBoard tbody tr:nth-child(even) {
	background-color: lightgray; /* stretch goal #2 */
}
